<div class="sidenav">
  <a class="tip" href="https://prism.eigenrisk.com/" >
    <span class="sub_icon2">
    <i class="fa fa-home"></i>
    </span>
    <div class="title">
    {{eigenPrismHomeComingTitle}}
    </div>
  </a>
  <a class="tip" href="{{eigenExpress}}">
    <span class="sub_icon2">
    <span class="fa-stack eigenexpress-icon">
      <i class="fa fa-circle-thin fa-stack-2x"></i>
      <i class="fa fa-arrow-down fa-stack-1x eigenexpress-icon-arrow-down"></i>
      <i class="fa fa-arrow-up fa-stack-1x eigenexpress-icon-arrow-up"></i>
    </span>
    </span>
    <div class="title">
    <span >{{eigenExpressTitle}}</span><span><i class="fa fa-info-circle"></i></span>
    </div>
  </a>
  <a class="tip" href="https://prism.eigenrisk.com/">
    <span class="sub_icon2">
    <i class="fa fa-bell"></i>
    </span>
    <div class="title">
    <span>{{eigenAlertComingTitle}}</span>
    </div>
  </a>
  <a class="tip" href={{exposureAnalytics}}>
    <span class="sub_icon2">
    <i class="fa fa-bar-chart"></i>
    </span>
    <div class="title">
    <span>{{exposureAnalyticsTitle}}</span><span><i class="fa fa-info-circle"></i></span>
    </div>
  </a>
  <a class="tip" href={{programBuilder}}>
    <span class="sub_icon2">
    <i class="fa fa-th"></i>
    </span>
    <div class="title">
    <span>{{programBuilderTitle}}</span><i class="fa fa-info-circle"></i>
    </div>
  </a>
  <a class="tip" href={{technicalPricing}}>
    <span class="sub_icon2">
    <i class="fa fa-th technical-pricing-icon"></i>
    <sup style="font-size: medium;left: -5px">$</sup>
    </span>
    <div  class="title">
    <span>{{technicalPricingTitle}}</span><i class="fa fa-info-circle"></i>
    </div>
  </a>
  <a class="tip" href={{eigenProfile}}>
    <span class="fa-stack eigenprofile-sidemenu-icon">
      <i class="fa fa-television fa-stack-2x"></i>
      <i class="fa fa-pie-chart fa-stack-1x"></i>
    </span>
    <div class="title">
    <span>{{eigenProfileTitle}}</span><i class="fa fa-info-circle"></i>
    </div>
  </a>
  <a class="tip" href={{dashboards}}>
    <span class="sub_icon2">
      <i class="fa fa-pie-chart"></i>
    </span>
    <div class="title">
    <span >{{dashboardsTitle}}</span><i class="fa fa-info-circle"></i>
    </div>
  </a>
  <a class="tip" href={{reports}}>
    <span class="sub_icon2">
      <i class="fa fa-briefcase"></i>
    </span>
    <div class="title">
    <span >{{reportsTitle}}</span><i class="fa fa-info-circle"></i>
    </div>
  </a>
  <a class="tip" href={{eventModelManager}}>
    <span class="sub_icon2">
      <i class="fa fa-globe"></i>
    </span>
    <div class="title">
    <span >{{eventModelManagerTitle}}</span><i class="fa fa-info-circle"></i>
    </div>
  </a>
  <a class="tip" href={{damageModelManager}}>
    <span class="sub_icon2">
      <i class="fa fa-bolt"></i>
    </span>
    <div class="title">
    <span >{{damageModelManagerTitle}}</span><i class="fa fa-info-circle"></i>
    </div>
  </a>
</div>