
<p-dialog [(visible)]="display" [modal]="true" [responsive]="true" [width]="460" [height]='264' [minWidth]="200"
  [baseZIndex]="10000" [contentStyle]="{'padding':'0px','margin':'0px','border-radius':'4px', 'border':'none'}"
  [showHeader]="false">
  <div class="ui-g archive-workspace-header">
    <div class="ui-g-11 archive-workspace">
      {{userConfirmationData.title}}
    </div>
    <div class="ui-g-12 ui-md-1" (click)="closePopup()">
      <img class="popup-close-icon" src="erassets\Images\WorkSpace_Images\popupCloser.svg">
    </div>
  </div>
  <div>
    <div class="archive-workspace-message">
      <span>{{userConfirmationData.primaryMessage}}</span>
    </div>
    <div class="ui-sm-12 archive-workspace-data">
      <p>{{userConfirmationData.alertStart}}</p>
      <p>{{userConfirmationData.alert1}}</p>
      <p>{{userConfirmationData.alert2}}</p>
      <p>{{userConfirmationData.alert3}}</p>
      <p>{{userConfirmationData.alertEnd}}</p>
    </div>
    <div class="ui-sm-12 archive-workspace-warning">{{userConfirmationData.secondaryMessage}}</div>

    <div class="ui-g">
      <button type="button" class="ui-sm-12 ui-md-6 backward-button" (click)="closePopup()">{{userConfirmationData.secondaryButton}}</button>
      <button type="button" class="ui-sm-12 ui-md-6 forward-button" (click)="archiveThisWorkspace()">{{userConfirmationData.primaryButton}}</button>
    </div>
  </div>
</p-dialog>
<p-toast [style]="{'margin-top':'40px','background-color': '#43425D','width':'400px', 'color':'white'}" position="top-center" key="tc"></p-toast>

