@import '../../../../styles.scss';
.create-button {
    width:$cw-button-width;
    height:$cw-button-height;
    border-radius: $border-radius-4px;
    border: $cw-button-border;
    background-color: $cw-button-hover-bg-color !important;
}
.create-button:hover{
background-color: $cw-button-hover-bg-color !important;
}
.create-button:active{
    border:none;
    }
.info-img{
    width:20px;
    height: 20px;
    float: $cw-button-info-img-float;
   margin-top:3px;
   margin-left:27px;
}
.create-label{
    float:$cw-button-label-float;
    vertical-align:$cw-button-label-vertical-align;
    font-family: 'SourceSansPro-Regular';
    font-size:18px;
    margin-left:8px;
    margin-top: 1px;
}
.create-button:active{
    outline:none!important;
}
.ui-button .ui-state-active{
    outline:none!important;
}

