.panel-header{
    text-align: center;
    height: 60px;
    border-bottom:1px;
    border-bottom-style: solid;
    border-bottom-color: #D3D3D3;
}
.invite-via-mail{
    font-family: 'SourceSansPro-Regular';
    font-size: 17px;
    color: #4D4F5C;
    margin-top: 10px;
}
.close-icon{
 width: 24px;
 height: 24px;   
}
.reciever-mail-field{
    width: 100%;
    height: 72px;
    background-color: #FAFAFA;
}
.mail-entry{
    width: 396px;
    height: 40px;
    border-radius: 4px;
    border: 1px;
    border-style: solid;
    border-color:#E8E9EC;
    margin: 8px;
    margin-top: 17px;
    margin-left: 32px;
    font-family: 'SourceSansPro-Regular';
    font-size: 13px;
    padding-left: 16px;
    color: #CECFD0;
}
.backward-button{
    width: 50%;
    background-color: #43425D;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 4px;
    color: #FFFFFF;
    height: 50px;
    border: none;
    cursor: pointer;
}
.forward-button{
    width: 50%;
    height: 50px;
    background-color: #F48892;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 0px;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
}
.invite-mail-suggestion{
    margin-top: 16px;
    margin-right: 56px;
    margin-bottom: 24px;
    margin-left: 56px;
    text-align: center;
    font-size: 13px;
    font-family: 'SourceSansPro-Regular';
}
.invite-mail-warning{
    margin-top: 10px;
    margin-right: 56px;
    margin-bottom: 20px;
    margin-left: 56px;
    text-align: center;
    font-size: 13px;
    font-family: 'SourceSansPro-Regular';
    color: #F48892;
}
.sending-on-progress{
    height: 202.9px;
}
.loader-image{
    width: 40px;
    height:40px;
    margin-top: 48px;
    margin-left: 210px;

}
.loader-data{
    font-family:'SourceSansPro-Bold';
    font-size: 24px;
    text-align: center;
    color: #F48892;
    margin-left:180px;
    margin-top: 16px;
    margin-bottom: 56px;
}
.sent-successfully{
    height: 202.5px;
}
.mail-sent-success-image{
    width: 40px;
    height: 40px;
    margin-top: 51px;
    margin-left: 212px;
}
.success-data{
    font-family:'SourceSansPro-Bold';
    font-size: 24px;
    text-align: center;
    color: #F48892;
    margin-left:173px;
    margin-top: 18px;
    margin-bottom: 66px;
}
.sendInviteButton{
    opacity: 0.5;
    cursor: none;
}
.mail-alert{
    font-size: 12px;
    font-family: 'SourceSansPro-Regular';
    color: red;
    padding-left: 32px;
}
.sending-failed{
    text-align: center;
    font-size: 16px;
}
.failed-message{
    margin-top: 16px;
    margin-bottom: 66px;
    color: red;
}
.mail-sent-failed-image{
    width: 40px;
    height: 40px;
    margin-left: 200px;
    margin-top: 48px;
}
.sending-failed{
    text-align: center;
    font-size: 16px;
    display: grid;
}